In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sbs

In [2]:
data = pd.read_csv("clustered_forestfires.csv")
data.loc[:, "log_area"] = np.log(data["area"] + 1)

In [3]:
data.loc[data["area"] <= 2.14, "area_type"] = 1
data.loc[(data["area"] > 2.14) & (data["area"] <= 15.42), "area_type"] = 2
data.loc[data["area"] > 15.42, "area_type"] = 3

In [4]:
data.loc[:, "month_type"] = 1
data.loc[(data["month"] == "sep") | (data["month"] == "aug"), "month_type"] = 2

In [5]:
data.loc[:, "temp_type"] = 1
data.loc[(data["temp"] >= 15) & (data["temp"] <= 25), "temp_type"] = 2

In [6]:
data.loc[:, "RH_type"] = 1
data.loc[(data["RH"] >= 20) & (data["RH"] <= 60), "RH_type"] = 2

In [7]:
data.loc[:, "RH_type"] = 1
data.loc[(data["RH"] >= 20) & (data["RH"] <= 60), "RH_type"] = 2

In [8]:
data.loc[:, "DMC_type"] = 1
data.loc[(data["DMC"] >= 80) & (data["DMC"] <= 150), "DMC_type"] = 2

In [9]:
data.loc[:, "DC_type"] = 1
data.loc[(data["DC"] >= 500) & (data["DC"] <= 800), "DC_type"] = 2

In [10]:
data.loc[:, "wind_type"] = 1
data.loc[(data["wind"] >= 1) & (data["wind"] <= 6), "wind_type"] = 2

In [11]:
data.loc[:, "ISI_type"] = 1
data.loc[(data["ISI"] >= 5) & (data["ISI"] <= 10), "ISI_type"] = 2

In [12]:
data.loc[:, "FFMC_type"] = 1
data.loc[(data["FFMC"] >= 90) & (data["FFMC"] <= 95), "FFMC_type"] = 2

In [13]:
data.head(10)

,Unnamed: 0,X,Y,month,day,FFMC,DMC,DC,ISI,temp,...,log_area,area_type,month_type,temp_type,RH_type,DMC_type,DC_type,wind_type,ISI_type,FFMC_type
0,0,7,5,mar,fri,86.2,26.2,94.3,5.1,8.2,...,0.0,1.0,1,1,2,1,1,1,2,1
1,1,7,4,oct,tue,90.6,35.4,669.1,6.7,18.0,...,0.0,1.0,1,2,2,1,2,1,2,2
2,2,7,4,oct,sat,90.6,43.7,686.9,6.7,14.6,...,0.0,1.0,1,1,2,1,2,2,2,2
3,3,8,6,mar,fri,91.7,33.3,77.5,9.0,8.3,...,0.0,1.0,1,1,1,1,1,2,2,2
4,4,8,6,mar,sun,89.3,51.3,102.2,9.6,11.4,...,0.0,1.0,1,1,1,1,1,2,2,1
5,5,8,6,aug,sun,92.3,85.3,488.0,14.7,22.2,...,0.0,1.0,2,2,2,2,1,2,1,2
6,6,8,6,aug,mon,92.3,88.9,495.6,8.5,24.1,...,0.0,1.0,2,2,2,2,1,2,2,2
7,7,8,6,aug,mon,91.5,145.4,608.2,10.7,8.0,...,0.0,1.0,2,1,1,2,2,2,1,2
8,8,8,6,sep,tue,91.0,129.5,692.6,7.0,13.1,...,0.0,1.0,2,1,1,2,2,2,2,2
9,9,7,5,sep,sat,92.5,88.0,698.6,7.1,22.8,...,0.0,1.0,2,2,2,2,2,2,2,2